In [120]:
import pandas as pd
import numpy as np
import dask.dataframe as dd

In [121]:
dask_data_set = dd.read_csv("C:/Users/Wydzik/Downloads/trivagoRecSysChallengeData2019_v2/train.csv")

In [122]:
dask_no_duplicate = dask_data_set.copy().compute()

In [123]:
dask_no_duplicate

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399697,ZYNMLE3MV3LK,62728015bec05,1541544490,15,interaction item image,6617798,PT,"Paris, France",desktop,NaN,NaN,NaN
399698,ZYNMLE3MV3LK,62728015bec05,1541544491,16,clickout item,6617798,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
399699,ZYNMLE3MV3LK,62728015bec05,1541544540,17,clickout item,2712342,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
399700,ZYNMLE3MV3LK,62728015bec05,1541544967,18,change of sort order,interaction sort button,PT,"Paris, France",desktop,NaN,NaN,NaN
399701,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

In [6]:
dask_no_duplicate = dask_no_duplicate.drop_duplicates(subset = ["session_id","step"]).compute()

In [7]:
dask_no_duplicate

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399697,ZYNMLE3MV3LK,62728015bec05,1541544490,15,interaction item image,6617798,PT,"Paris, France",desktop,NaN,NaN,NaN
399698,ZYNMLE3MV3LK,62728015bec05,1541544491,16,clickout item,6617798,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
399699,ZYNMLE3MV3LK,62728015bec05,1541544540,17,clickout item,2712342,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
399700,ZYNMLE3MV3LK,62728015bec05,1541544967,18,change of sort order,interaction sort button,PT,"Paris, France",desktop,NaN,NaN,NaN
399701,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

In [8]:
len(dask_no_duplicate.session_id.unique())

910683

In [9]:
dask_unique_session_ids = dask_no_duplicate.session_id.unique()
dask_unique_sessions = len(dask_unique_session_ids)
dask_unique_sessions

910683

In [10]:
divider = 0.8

In [11]:
dask_number_of_train_sessions = int(dask_unique_sessions * divider)
dask_number_of_train_sessions

728546

In [12]:
dask_last_train_session_id = dask_unique_session_ids[dask_number_of_train_sessions]
dask_last_train_session_id

'cae8906db6f21'

In [13]:
dask_last_training_index = dask_no_duplicate[dask_no_duplicate.session_id == dask_last_train_session_id][-1:]
dask_last_training_index

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
136213,XI4V09UQBBN2,cae8906db6f21,1541491953,29,clickout item,3857806,TW,"Nantou City, Taiwan",desktop,Sort by Price,4182178|3861994|5832464|1908423|5740296|671947...,64|65|74|80|82|84|85|85|85|86|87|87|88|91|91|9...

In [34]:
# wyszło mi z ręcznych obliczeń, że 0.8 setu jest w 27 partycji,
# więc teraz trzeba sprawdzić, czy wyjdzie ta sama wartość, co wyżej, bo nie do końca wiem jak to działa w dasku
dask_train_partition = int(dask_no_duplicate.npartitions * divider)
dask_train_partition

26

In [38]:
dask_end_of_training = dask_no_duplicate.get_partition(dask_train_partition).compute()

In [39]:
dask_end_of_training[dask_end_of_training.session_id == dask_last_train_session_id]

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
136185,XI4V09UQBBN2,cae8906db6f21,1541491756,1,search for item,2207100,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136186,XI4V09UQBBN2,cae8906db6f21,1541491836,2,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136187,XI4V09UQBBN2,cae8906db6f21,1541491836,3,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136188,XI4V09UQBBN2,cae8906db6f21,1541491846,4,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136189,XI4V09UQBBN2,cae8906db6f21,1541491846,5,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136190,XI4V09UQBBN2,cae8906db6f21,1541491846,6,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136191,XI4V09UQBBN2,cae8906db6f21,1541491846,7,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136192,XI4V09UQBBN2,cae8906db6f21,1541491846,8,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136193,XI4V09UQBBN2,cae8906db6f21,1541491846,9,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136194,XI4V09UQBBN2,cae8906db6f21,1541491846,10,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136195,XI4V09UQBBN2,cae8906db6f21,1541491846,11,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136196,XI4V09UQBBN2,cae8906db6f21,1541491846,12,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136197,XI4V09UQBBN2,cae8906db6f21,1541491846,13,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136198,XI4V09UQBBN2,cae8906db6f21,1541491846,14,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136199,XI4V09UQBBN2,cae8906db6f21,1541491846,15,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136200,XI4V09UQBBN2,cae8906db6f21,1541491846,16,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136201,XI4V09UQBBN2,cae8906db6f21,1541491846,17,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136202,XI4V09UQBBN2,cae8906db6f21,1541491846,18,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136203,XI4V09UQBBN2,cae8906db6f21,1541491846,19,interaction item image,5740296,TW,"Renai Township, Taiwan",desktop,NaN,NaN,NaN
136204,XI4V09UQBBN2,cae8906db6f21,1541491870,20,search for destination,"Fukuoka, Japan",TW,"Fukuoka, Japan",desktop,NaN,NaN,NaN
136205,XI4V09UQBBN2,cae8906db6f21,1541491879,21,search for destination,"Heping District, Taiwan",TW,"Heping District, Taiwan",desktop,NaN,NaN,NaN
136206,XI4V09UQBBN2,cae8906db6f21,1541491901,22,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136207,XI4V09UQBBN2,cae8906db6f21,1541491901,23,search for item,2837442,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136208,XI4V09UQBBN2,cae8906db6f21,1541491922,24,change of sort order,interaction sort button,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136209,XI4V09UQBBN2,cae8906db6f21,1541491922,25,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136210,XI4V09UQBBN2,cae8906db6f21,1541491925,26,change of sort order,price only,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136211,XI4V09UQBBN2,cae8906db6f21,1541491925,27,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136212,XI4V09UQBBN2,cae8906db6f21,1541491925,28,filter selection,Sort by Price,TW,"Nantou City, Taiwan",desktop,Sort by Price,NaN,NaN
136213,XI4V09UQBBN2,cae8906db6f21,1541491953,29,clickout item,3857806,TW,"Nantou City, Taiwan",desktop,Sort by Price,4182178|3861994|5832464|1908423|5740296|671947...,64|65|74|80|82|84|85|85|85|86|87|87|88|91|91|9...

In [43]:
last_training_index = dask_end_of_training[dask_end_of_training.session_id == dask_last_train_session_id][-1:].index[0]
last_training_index
# Wyszło to samo :D czyli git

136213

In [44]:
end_of_training = dask_end_of_training.loc[dask_end_of_training.index <= last_training_index]

In [45]:
end_of_training

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,MJULMYFZLQFR,fb24a6c24f625,1541156817,1,search for destination,"Vienna, Austria",AT,"Vienna, Austria",tablet,NaN,NaN,NaN
1,MJULMYFZLQFR,fb24a6c24f625,1541156930,2,interaction item info,897559,AT,"Vienna, Austria",tablet,NaN,NaN,NaN
2,MJULMYFZLQFR,fb24a6c24f625,1541156962,3,interaction item info,916559,AT,"Vienna, Austria",tablet,NaN,NaN,NaN
3,MPRPY80SH8N9,3b28c6f150e16,1541162887,1,clickout item,160987,ES,"Nuévalos, Spain",mobile,NaN,160987|165063|498231|235286|881431|785131|9244...,139|74|70|75|65|149|75|172|58|86|55|84
4,MPRPY80SH8N9,3b28c6f150e16,1541163125,2,clickout item,160987,ES,"Nuévalos, Spain",mobile,NaN,160987|156679|5651960|417106|161984|1347444|16...,94|49|99|106|42|77|40|69|82|93|98|70|75|55|65|...
...,...,...,...,...,...,...,...,...,...,...,...,...
136209,XI4V09UQBBN2,cae8906db6f21,1541491922,25,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136210,XI4V09UQBBN2,cae8906db6f21,1541491925,26,change of sort order,price only,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136211,XI4V09UQBBN2,cae8906db6f21,1541491925,27,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136212,XI4V09UQBBN2,cae8906db6f21,1541491925,28,filter selection,Sort by Price,TW,"Nantou City, Taiwan",desktop,Sort by Price,NaN,NaN
136213,XI4V09UQBBN2,cae8906db6f21,1541491953,29,clickout item,3857806,TW,"Nantou City, Taiwan",desktop,Sort by Price,4182178|3861994|5832464|1908423|5740296|671947...,64|65|74|80|82|84|85|85|85|86|87|87|88|91|91|9...

In [46]:
dask_beginning_of_test = dask_end_of_training.loc[dask_end_of_training.index > last_training_index]
dask_beginning_of_test

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
136214,XI9W70AM4A2E,49fbcccb30f40,1541475471,1,search for poi,Ueno Station,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136215,XI9W70AM4A2E,49fbcccb30f40,1541475479,2,interaction item info,1148728,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136216,XI9W70AM4A2E,49fbcccb30f40,1541475635,3,change of sort order,rating and recommended,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136217,XI9W70AM4A2E,49fbcccb30f40,1541475635,4,change of sort order,interaction sort button,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136218,XI9W70AM4A2E,49fbcccb30f40,1541475635,5,change of sort order,interaction sort button,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
485848,MRFHZCTQNAR7,266f553b63fe8,1541156911,21,interaction item image,8825,IT,"New York, USA",desktop,NaN,NaN,NaN
485849,MRFHZCTQNAR7,266f553b63fe8,1541156911,22,interaction item image,8825,IT,"New York, USA",desktop,NaN,NaN,NaN
485850,MRFHZCTQNAR7,266f553b63fe8,1541156911,23,interaction item image,8825,IT,"New York, USA",desktop,NaN,NaN,NaN
485851,MRFHZCTQNAR7,266f553b63fe8,1541156911,24,interaction item image,8825,IT,"New York, USA",desktop,NaN,NaN,NaN
485852,MRFHZCTQNAR7,266f553b63fe8,1541156911,25,interaction item image,8825,IT,"New York, USA",desktop,NaN,NaN,NaN

In [48]:
dask_new_train_set = dask_no_duplicate.partitions[:dask_train_partition].append(end_of_training).compute()
dask_new_train_set

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,00RL8Z82B2Z1,aff3928535f48,1541037460,1,search for poi,Newtown,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
1,00RL8Z82B2Z1,aff3928535f48,1541037522,2,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
2,00RL8Z82B2Z1,aff3928535f48,1541037522,3,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
3,00RL8Z82B2Z1,aff3928535f48,1541037532,4,interaction item image,666856,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
4,00RL8Z82B2Z1,aff3928535f48,1541037532,5,interaction item image,109038,AU,"Sydney, Australia",mobile,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
136209,XI4V09UQBBN2,cae8906db6f21,1541491922,25,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136210,XI4V09UQBBN2,cae8906db6f21,1541491925,26,change of sort order,price only,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136211,XI4V09UQBBN2,cae8906db6f21,1541491925,27,interaction item image,5740296,TW,"Nantou City, Taiwan",desktop,NaN,NaN,NaN
136212,XI4V09UQBBN2,cae8906db6f21,1541491925,28,filter selection,Sort by Price,TW,"Nantou City, Taiwan",desktop,Sort by Price,NaN,NaN
136213,XI4V09UQBBN2,cae8906db6f21,1541491953,29,clickout item,3857806,TW,"Nantou City, Taiwan",desktop,Sort by Price,4182178|3861994|5832464|1908423|5740296|671947...,64|65|74|80|82|84|85|85|85|86|87|87|88|91|91|9...

In [50]:
#zanim połącze testowe ze sobą, muszę sprawdzić jak to wygląda z tym podziałem.
dask_no_duplicate[dask_no_duplicate.session_id == "266f553b63fe8"].compute()

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
485828,MRFHZCTQNAR7,266f553b63fe8,1541156624,1,search for destination,"New York, USA",IT,"New York, USA",desktop,NaN,NaN,NaN
485829,MRFHZCTQNAR7,266f553b63fe8,1541156778,2,filter selection,Focus on Distance,IT,"New York, USA",desktop,Focus on Distance,NaN,NaN
485830,MRFHZCTQNAR7,266f553b63fe8,1541156778,3,search for poi,Rockefeller Center,IT,"New York, USA",desktop,Focus on Distance,NaN,NaN
485831,MRFHZCTQNAR7,266f553b63fe8,1541156798,4,filter selection,Focus on Distance,IT,"New York, USA",desktop,Focus on Distance,NaN,NaN
485832,MRFHZCTQNAR7,266f553b63fe8,1541156798,5,search for poi,Broadway,IT,"New York, USA",desktop,Focus on Distance,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
277,MRFHZCTQNAR7,266f553b63fe8,1541158036,303,interaction item image,1347380,IT,"New York, USA",desktop,NaN,NaN,NaN
278,MRFHZCTQNAR7,266f553b63fe8,1541158036,304,interaction item image,1347380,IT,"New York, USA",desktop,NaN,NaN,NaN
279,MRFHZCTQNAR7,266f553b63fe8,1541158046,305,interaction item image,1347380,IT,"New York, USA",desktop,NaN,NaN,NaN
280,MRFHZCTQNAR7,266f553b63fe8,1541158046,306,interaction item image,1347380,IT,"New York, USA",desktop,NaN,NaN,NaN
281,MRFHZCTQNAR7,266f553b63fe8,1541158588,307,search for item,8834,IT,"New York, USA",desktop,NaN,NaN,NaN

In [57]:
#czyli najlepiej by było to połączyć przed resztą pliku (chyba)
temp = dask_no_duplicate.partitions[dask_train_partition + 1 :]
dask_new_test_set = dd.concat([dask_beginning_of_test,temp]).compute()
#z tym, że z tego mi się teraz zrobił dataframe nie podzielony, więc pewnie się powtarzają indexy. 
#Ale może to nie szkodzi, zobaczyymy
#(a może nie trzeba było tego tak łączyć, tylko wystarczyło appendem dodać partycję do pozostałych)

In [58]:
dask_new_test_set

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
136214,XI9W70AM4A2E,49fbcccb30f40,1541475471,1,search for poi,Ueno Station,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136215,XI9W70AM4A2E,49fbcccb30f40,1541475479,2,interaction item info,1148728,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136216,XI9W70AM4A2E,49fbcccb30f40,1541475635,3,change of sort order,rating and recommended,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136217,XI9W70AM4A2E,49fbcccb30f40,1541475635,4,change of sort order,interaction sort button,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
136218,XI9W70AM4A2E,49fbcccb30f40,1541475635,5,change of sort order,interaction sort button,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
399697,ZYNMLE3MV3LK,62728015bec05,1541544490,15,interaction item image,6617798,PT,"Paris, France",desktop,NaN,NaN,NaN
399698,ZYNMLE3MV3LK,62728015bec05,1541544491,16,clickout item,6617798,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
399699,ZYNMLE3MV3LK,62728015bec05,1541544540,17,clickout item,2712342,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
399700,ZYNMLE3MV3LK,62728015bec05,1541544967,18,change of sort order,interaction sort button,PT,"Paris, France",desktop,NaN,NaN,NaN
399701,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

In [74]:
dask_blurred_test = dask_new_test_set.copy()
dask_blurred_test = dask_blurred_test.reset_index(drop = True)
dask_blurred_test

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
0,XI9W70AM4A2E,49fbcccb30f40,1541475471,1,search for poi,Ueno Station,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
1,XI9W70AM4A2E,49fbcccb30f40,1541475479,2,interaction item info,1148728,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
2,XI9W70AM4A2E,49fbcccb30f40,1541475635,3,change of sort order,rating and recommended,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
3,XI9W70AM4A2E,49fbcccb30f40,1541475635,4,change of sort order,interaction sort button,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
4,XI9W70AM4A2E,49fbcccb30f40,1541475635,5,change of sort order,interaction sort button,JP,"Tokyo, Japan",desktop,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3176484,ZYNMLE3MV3LK,62728015bec05,1541544490,15,interaction item image,6617798,PT,"Paris, France",desktop,NaN,NaN,NaN
3176485,ZYNMLE3MV3LK,62728015bec05,1541544491,16,clickout item,6617798,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
3176486,ZYNMLE3MV3LK,62728015bec05,1541544540,17,clickout item,2712342,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
3176487,ZYNMLE3MV3LK,62728015bec05,1541544967,18,change of sort order,interaction sort button,PT,"Paris, France",desktop,NaN,NaN,NaN
3176488,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

In [108]:
last_step_indexes =  dask_blurred_test[dask_blurred_test.step == 1].index - 1
last_index = dask_blurred_test.tail(1).index[0]
last_step_indexes = np.append(last_step_indexes, last_index)
#no i teraz widzę, że może być problem, bo tam w środku pewnie się powtarzają.
#ale jak się zresetowało indexy to od razu jest lepiej.
#teraz pokazuje -1 ale nie szkodzi, po potem -1 i tak nie spełni warunku, to niech sobie będzie.
#za to wiem, że trzeba dodać ostatni indeks, ponieważ on jest siłą rzeczy ostatnim, ale po nim nie ma pierwszego
#więc nie spełniał powyższego warunku
last_step_indexes

array([     -1,      10,      11, ..., 3176467, 3176469, 3176488],
      dtype=int64)

In [109]:
records_to_blur = dask_blurred_test[(dask_blurred_test.index.isin(last_step_indexes)) & (dask_blurred_test.action_type == "clickout item")]
records_to_blur

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
12,XK9Q5KDFWUO8,c039590a248a1,1541468709,1,clickout item,6694076,US,"Belek, Turkey",mobile,NaN,6694076|6160412|908005|1256006|37745|1167790|2...,341|190|372|514|268|172|161|325|149|899|254|26...
62,XO5V9JATXNZ0,12e45ec9f55a9,1541532176,3,clickout item,935261,IE,"Dún Laoghaire, Ireland",desktop,NaN,935261|46149|148250|640521|12504|46041|46127|4...,155|256|104|112|294|70|128|138|251|112|164|254...
65,XPXXNDO87ZLO,ecfe498274283,1541519625,3,clickout item,4536970,JP,"Naha, Japan",desktop,NaN,4536970|1751231|1023329|346856|7379644|103471|...,361|324|251|626|664|668|369|325|390|366|388|40...
94,XR3FOTCSFSB6,a561374041e0b,1541521939,3,clickout item,7011302,IT,"Montenero Sabino, Italy",mobile,NaN,4596042|4702578|6978356|1144948|1106106|917681...,50|76|95|75|70|64|55|50|50|45|30|96|490|74|180...
138,XU6TXRFUUSQV,cf3f6d5d8c6c8,1541527162,5,clickout item,3004706,US,"Beijing, China",desktop,NaN,7809652|7018742|2952924|3119162|3092420|299589...,39|36|53|96|45|108|48|28|118|41|36|29|26|19|25...
...,...,...,...,...,...,...,...,...,...,...,...,...
3176423,ZO8GBM7UEUBG,87935de3867d2,1541475071,3,clickout item,55829,US,"San Diego, USA",desktop,NaN,356281|66787|59205|1390544|73104|4944066|55829...,202|142|94|157|87|122|69|121|167|94|145|101|20...
3176462,ZU702MR210D2,6b66cb0cfb518,1541498306,10,clickout item,3811156,JP,"Asahikawa, Japan",mobile,NaN,3811156|2337580|8787688|9920906|1553743|462814...,55|35|51|59|54|63|26|43|52|20|52|31|42|51|50|5...
3176463,ZV6EJXAD9929,f701be9e58e9a,1541532352,1,clickout item,9771628,FR,"New York, USA",mobile,NaN,9771628|5105492|8682|1372901|1321682|1364388|3...,281|183|281|266|238|263|324|345|466|179|186|24...
3176467,ZVIDWWE0KWNB,e7916050980d9,1541532069,4,clickout item,8985292,BR,"New York, USA",desktop,NaN,8640|8816|8791|2298566|1811137|8708|67445|8825...,215|173|188|258|199|133|309|243|211|178|178|18...
3176488,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,1161323,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

In [111]:
indexes_to_blur = dask_blurred_test[(dask_blurred_test.index.isin(last_step_indexes)) & (dask_blurred_test.action_type == "clickout item")].index
indexes_to_blur

Int64Index([     12,      62,      65,      94,     138,     223,     227,
                229,     240,     241,
            ...
            3176367, 3176368, 3176377, 3176383, 3176420, 3176423, 3176462,
            3176463, 3176467, 3176488],
           dtype='int64', length=131122)

In [112]:
dask_blurred_test.loc[(dask_blurred_test.index.isin(indexes_to_blur)),'reference'] = np.nan

In [113]:
dask_blurred_test[dask_blurred_test.action_type == "clickout item"]
#no i wygląda na to, że się zgadza :D

,user_id,session_id,timestamp,step,action_type,reference,platform,city,device,current_filters,impressions,prices
8,XI9W70AM4A2E,49fbcccb30f40,1541476176,9,clickout item,103501,JP,"Tokyo, Japan",desktop,Focus on Rating,2266812|4675284|321771|3143731|103644|3509932|...,371|100|166|168|250|143|113|121|58|109|265|91|...
12,XK9Q5KDFWUO8,c039590a248a1,1541468709,1,clickout item,NaN,US,"Belek, Turkey",mobile,NaN,6694076|6160412|908005|1256006|37745|1167790|2...,341|190|372|514|268|172|161|325|149|899|254|26...
50,XN7BVE3ZYOUQ,59f9c54ef3bb0,1541530540,38,clickout item,5838026,IN,"Ahmedabad, India",desktop,NaN,5959374|3763928|2660559|5838026|4967826|472502...,46|42|21|27|21|24|50|13|58|22|20|19|20|34|16|1...
62,XO5V9JATXNZ0,12e45ec9f55a9,1541532176,3,clickout item,NaN,IE,"Dún Laoghaire, Ireland",desktop,NaN,935261|46149|148250|640521|12504|46041|46127|4...,155|256|104|112|294|70|128|138|251|112|164|254...
64,XPXXNDO87ZLO,ecfe498274283,1541517922,2,clickout item,4536970,JP,"Naha, Japan",desktop,NaN,4536970|1751231|1023329|346856|7379644|103471|...,361|324|251|626|664|668|369|325|390|366|388|40...
...,...,...,...,...,...,...,...,...,...,...,...,...
3176463,ZV6EJXAD9929,f701be9e58e9a,1541532352,1,clickout item,NaN,FR,"New York, USA",mobile,NaN,9771628|5105492|8682|1372901|1321682|1364388|3...,281|183|281|266|238|263|324|345|466|179|186|24...
3176467,ZVIDWWE0KWNB,e7916050980d9,1541532069,4,clickout item,NaN,BR,"New York, USA",desktop,NaN,8640|8816|8791|2298566|1811137|8708|67445|8825...,215|173|188|258|199|133|309|243|211|178|178|18...
3176485,ZYNMLE3MV3LK,62728015bec05,1541544491,16,clickout item,6617798,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
3176486,ZYNMLE3MV3LK,62728015bec05,1541544540,17,clickout item,2712342,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...
3176488,ZYNMLE3MV3LK,62728015bec05,1541544973,19,clickout item,NaN,PT,"Paris, France",desktop,Focus on Distance,6617798|1263420|9567886|1161323|149768|1890735...,58|96|55|75|90|60|233|104|150|145|328|207|150|...

In [128]:
dask_new_train_set.to_csv('C:/Users/Wydzik/PycharmProjects/trivagoRecSysChallenge/datasets/train.csv')
dask_new_test_set.to_csv('C:/Users/Wydzik/PycharmProjects/trivagoRecSysChallenge/datasets/groundTruth.csv')
dask_blurred_test.to_csv('C:/Users/Wydzik/PycharmProjects/trivagoRecSysChallenge/datasets/test.csv')